Repository JFinchy/tag: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{"*.{js,jsx,ts,tsx,mjs}":["eslint --fix","prettier --write"],"*.{json,md,yml,yaml,html}":["prettier --write"]}

test
  commitlint.config.js
Due: eslint --fix, prettier --write

cleanup
  apps/web/e2e/a11y.spec.ts
  apps/web/e2e/demo-todo-app.spec.ts
  apps/web/e2e/fixtures.ts
  apps/web/e2e/main.spec.ts
  apps/web/e2e/what-to-name-this.ts
  apps/web/src/app copy/hooks/index.ts
  apps/web/src/app copy/index.ts
  apps/web/src/app copy/queries/index.ts
  apps/web/src/app copy/queries/use-global.tsx
  apps/web/src/app copy/store/global.tsx
  apps/web/src/app copy/store/index.ts
  apps/web/src/entities/bookmarks/model.ts
  apps/web/src/entities/index.ts
  apps/web/src/features/index.ts
  apps/web/src/pages/dashboard/index.tsx
  apps/web/src/pages/index.ts
  apps/web/src/shared/index.ts
  apps/web/src/widgets/index.ts
Due: eslint --fix, prettier --write

drop useless files
  .lintstagedrc.js
  .lintstagedrc.json
  package.json
Due: eslint --fix, prettier --write

chore: set up husky pre-commit hooks
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: add initial test configuration
  .husky/commit-msg
Due: none

fix: resolve linting and type errors
  .husky/commit-msg
  .husky/pre-commit
  README.md
Due: prettier --write

docs: add code of conduct for project contributors
  CODE_OF_CONDUCT.md
Due: prettier --write

feat: add enhanced accessibility expert prompt
  e2e/README.md
  e2e/a11y.spec.ts
  e2e/helpers/a11y-helpers.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add AI expert prompts for various development domains
  README.md
  prompts/README.md
  prompts/accessibility-expert-enhanced.md
  prompts/accessibility-expert.md
  prompts/architecture-expert.md
  prompts/aws-expert.md
  prompts/browser-engineer.md
  prompts/computer-science-expert.md
  prompts/cs-professor.md
  prompts/css-expert.md
  prompts/database-expert.md
  prompts/devops-expert.md
  prompts/golang-expert.md
  prompts/javascript-expert-enhanced.md
  prompts/javascript-expert.md
  prompts/performance-expert.md
  prompts/principal-engineer.md
  prompts/quality-engineer.md
  prompts/seo-expert.md
  prompts/testing-expert.md
Due: prettier --write

feat: add code review bot with TypeScript and ES modules
  code-review-bot/.env.example
  code-review-bot/.gitignore
  code-review-bot/Dockerfile
  code-review-bot/README.md
  code-review-bot/docker-compose.yml
  code-review-bot/package.json
  code-review-bot/serverless.yml
  code-review-bot/src/analyzers/codeQualityAnalyzer.ts
  code-review-bot/src/analyzers/diffAnalyzer.js
  code-review-bot/src/analyzers/diffAnalyzer.ts
  code-review-bot/src/analyzers/securityScanner.ts
  code-review-bot/src/lambda.ts
  code-review-bot/src/server.js
  code-review-bot/src/server.ts
  code-review-bot/src/utils/formatComment.ts
  code-review-bot/tsconfig.json
  e2e/code-review-bot/.gitignore
Due: eslint --fix, prettier --write

fix: update scripts to ts
  package.json
  scripts/check-changesets.ts
  scripts/check-updates.ts
Due: eslint --fix, prettier --write

fix: fortify
  apps/extension/entrypoints/manifest.json
  apps/extension/entrypoints/tabs-modal/App.tsx
Due: eslint --fix, prettier --write
